package ${package.Controller};

import com.myy.common.bean.RetBean;
import com.myy.gateway.bean.UserInfo;
import com.myy.gateway.util.UserUtil;
import org.springframework.web.bind.annotation.RequestMapping;
    #if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
    #else
    import org.springframework.stereotype.Controller;
    #end
    #if(${superControllerClassPackage})
    import ${superControllerClassPackage};
    #end
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import javax.annotation.Resource;
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
    #if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
    #else
public class ${table.controllerName} {
    #end

    @Resource
    private ${table.serviceImplName} ${table.serviceImplName};

    /**
     * 新增
     */
    @PostMapping("/-add/cer")
    public RetBean<ObjectVO> add(@RequestBody @Validated ReqWrapper<${entity}ReqVO> reqBean) {
        checkParam(reqBean.getData());
        SmUserReqVO req = reqBean.getData();
        UserInfo user = UserUtil.getUser();

        ObjectVO res = new ObjectVO();

        return RetBean.<>successDataBuilder().data(res).build();
    }


    private void checkParam(Object reqBean) {
        AssertUtils.isTrue(reqBean != null, "请求参数不能为空", false);
    }

    /**
    * 修改
    */
    @PostMapping("/-update/cer")
    public RetBean<ObjectVO> add(@RequestBody @Validated ReqWrapper<${entity}ReqVO> reqBean) {
        checkParam(reqBean.getData());
        SmUserReqVO req = reqBean.getData();
        UserInfo user = UserUtil.getUser();

        ObjectVO res = new ObjectVO();

        return RetBean.<>successDataBuilder().data(res).build();
        }

}
#end
